
@font-face {
    font-family: 'Courier New';
    src: local('Courier New'), local('Courier'), monospace;
}

body, header, div, p, h1, h2, ul, li, a, img {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #15287a;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #ffffff;
}
header p {
    color: #ffffff;
}
header ul {
    color: #ffffff;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

p {
    color:rgb(0, 0, 0);
    line-height: 1.5;
    margin-bottom: 15px;
}

.github-link {
    text-align: center;
    margin-top: 20px;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    background-color:gold;
}