
@font-face {
    font-family: 'MilitaryFont';
    src: url('path_to_your_font/military-font.ttf') format('truetype');
}

header {
    background-color: #15287a;
    padding: 20px;
    text-align: center;
    font-family: 'MilitaryFont', sans-serif;
}

header h1 {
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

p {
    color:rgb(0, 0, 0);
    line-height: 1.5;
    margin-bottom: 15px;
}

.github-link {
    text-align: center;
    margin-top: 20px;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    background-color:gold;
}